@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,700');

:root {
  --primary-color: #26d95c;
  --primary-color-rgb: 38,217,92;
  --primary-gradient: linear-gradient(90deg, #5ad9ab 0%, #26d95c 100%);

  --secondary-color: #f45924;
  --secondary-color-rgb: 244,89,36;

  --tertiary-color: #182235;
  --tertiary-color-rgb: 24,34,53;

  --bg-color: #fafbfb;

  --black-color: #182235;
  --light-color: #ffffff;
  --light-color-02: #ffffff20;

  --grey-800-color: #2f3849;
  --grey-700-color: #6b7280;
  --grey-600-color: #c1c4ca;
  --grey-500-color: #d0d2d6;
  --grey-400-color: #dfe0e3;
  --grey-300-color: #edeef0;
  --grey-200-color: #fdfdfd;

  --success-color: #00b67a;
  --success-color-rgb: 0,182,122;

  --error-color: #ff6b57;
  --warning-color: #ecb832;
  --link-color: #3076ff;


  /* Other color */
  --purple-color: #8A77D6;
  --purple-opaque-color: #F3F1FB;
}

html,
body,
#app {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.65;
  color: #333;
}

.overflow-y-auto {
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.drop-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.up-shadow {
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

.overflow-anchor-none {
  overflow-anchor: none;
}

.mh-50 {
  max-height: 50%;
}
